@keyframes blick {
  0% {
    transform: translate(-100%, -25%) rotate(10deg);
  }
  20% {
    transform: translate(100%, -25%) rotate(10deg);
  }
  100% {
    transform: translate(100%, -25%) rotate(10deg);
  }
} 

.hero__button:hover:before{
  content: '';
  width: 100%;
  height: 200%;
  position: absolute;
  top: 0; left: 0;
  opacity: 0.5;
  filter: blur;
  background: linear-gradient(to left, transparent 0%, #fff 40%, #fff 60%, transparent 100%);
  transform: translate(-100%, -25%) rotate(10deg);
  animation: blick 5s infinite;
}
.hero__button:hover{
    background-color: rgb(245, 200, 3);
    border-color: white;
    transition: 0.5s;
    color: rgb(240, 244, 247);
    transform: scale(1.2);
    box-shadow: 0px 5px 8px rgb(88, 72, 0);
}