.cong{
    width: 100%;
    height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 12vh;
}
.cong__block{
    width: var(--fixed-width);
    height: 80vh;
    border-top-left-radius: var(--br-const);
    border-top-right-radius: var(--br-const);
}
.image__block{
    position: absolute;
}
.cong__image{
    padding: top 12vh;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: var(--br-const);
    border-top-right-radius: var(--br-const);
}
footer{
    background-color: var(--darkBlue-color);
    width: var(--fixed-width);
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cong__textBlock{
    position: relative;
    background: linear-gradient(
        to top, var(--darkBlue-color), #0e1345cf,
        #0e134583
        );
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cong__text{
    text-align: center;
    color: white;
}
.cong__text--h1{
    font-family: 'Pacifico';
    font-size: 3em;
}
.cong__text--p{
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer__textBlock{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer__text{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    -webkit-text-stroke: 0.4px var(--veryDarkBlue-color);
}
.footer__text--main{
    color: white;
    font-family: 'Pacifico';
}