.infoblock{
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12vh;
} 

.info-block{
    background-color: white;
    width: calc(var(--fixed-width)) ;
    height: 80%;
    display: flex;

    align-items: center;
    justify-content: space-evenly;
    border-radius: var(--br-const);
}
.infoblock__text{
    width: 40%;
    height: 100%;
    color: var(--veryDarkBlue-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.infoblock__h1{
    font-family: 'Pacifico';
    margin: 13%;
}
.infoblock__p{
    margin: 0;
    font-weight: bold;
    font-size: 1.1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.infoblock__picture{
    height: 80%;
    object-fit: contain;
    border-radius: 12px;
}
.infoblock--garland{
    position: absolute;
    z-index: -5;
    transform: translateX(-43vw)translateY(-20vh)rotate(25deg);
    width: 20vw;
    object-fit: contain;
}