.recipes{
    width: 100%;
    height: 160vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12vh;
}
.recipes-block{
    width: var(--fixed-width);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.recipe__zagolovok{
    width: 100%;
    height: 10%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darkBlue-color);
}
.recipes__cards{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-between;
}
.recipe__card{
    height: 100%;
    width: 30%;
    border-radius: 30px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.recipe__image{
    width: 130px;
    height: 130px;
    border-radius: 35px;
}
.zagolovok__text{
    font-family: 'Pacifico';
    color: white;
    font-size: xx-large;
}
.recipe__text{
    width: 77%;
    font-weight: bold;
    text-align: center;
    color: var(--veryDarkBlue-color);
}
.recipe__text--name{
    font-family: 'Pacifico';
}
.recipe__text--infa{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2em;
}
#special__text{
    width: 90%;
}
.recipe__button{
    background-color: var(--darkBlue-color);
    width: 6.5em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border: 2px solid var(--veryDarkBlue-color);
    margin-bottom: 45px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
